<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Patient Appointment</title>
</head>
<body style="background-color: olive;">
	<div style="font-size: 25px;">
		<form action=# th:action="@{/patientbookdetails}" method="post"
			th:object="${patientbook}">

			<H1 align="center">BOOK THE AOOpINTMENT</H1>
			<br />
			<br />
			<br />

		   Select Specialist: <select >
 		  <option value="0">select operator</option>
  		  <option th:each="doctor:${doctors}"  th:value=${doctor} th:text="${doctor}" ></option>
  		  </select>
			
			
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			 
			 Date OF Appointment: <input type="date" value="10/14/2016" class="form-control" id="dateOfBirth"
				
				th:value="${#calendars.format(dateOfBirth,'yyyy-MM-dd')}" />

			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			
			
			Select Time: <input
				type="time" /> <br />
			<br />
			<br /></br>
			<br /> <input type="submit" value="submit" />


		</form>
	</div>
</body>

</html>



<!-- th:value="${city.cityid}"
 th:field= "*{atime}"
th:field= "*{adate}"
th:field= "*{doctor}"
 -->